<a href="https://colab.research.google.com/github/YongjunByun/KSA_projects/blob/main/module11/%ED%85%8D%EC%8A%A4%ED%8A%B8%EB%B6%84%EB%A5%98/%ED%85%8D%EC%8A%A4%ED%8A%B8%EB%B6%84%EB%A5%98_%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%A0%84%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
max_length = 256

In [2]:
import pandas as pd

In [15]:
df = pd.read_csv('sms.tsv', sep='\t', )
df.columns = ['label', 'sms']
print(df.columns)
print(df.shape)

Index(['label', 'sms'], dtype='object')
(5574, 2)

In [16]:
df.head()

  label                                                sms
0   ham                      Ok lar... Joking wif u oni...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2  spam          %^^×？×^×&#****,>,;//×&>>*(*^%=÷#~^&,****)
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [17]:
# 클래스 파악
classes = sorted(set(df['label']))
class_to_idx = {}

for i, c in enumerate(classes): # 모든 클래스에 대해  
  class_to_idx.update({c: i})

nclass = len(classes)

print("# of classes: %d" %nclass)
print(classes)
print(class_to_idx)

# of classes: 2
['ham', 'spam']
{'ham': 0, 'spam': 1}

In [18]:
# 최대 텍스트 길이 만큼 자르기
new_df = pd.DataFrame({'label' : df['label'],
                       'sms' : df['sms'].str.slice(
                           start=0,stop=max_length)
                       })

In [20]:
len(new_df)

5574

In [21]:
# 중복제거
new_df = pd.DataFrame(new_df.drop_duplicates())

In [22]:
len(new_df)

5171

In [23]:
# 셔플
df_shuffled = new_df.sample(frac=1).reset_index(drop=True)
df_shuffled.head()

  label                                                sms
0   ham  Wa, ur openin sentence very formal... Anyway, ...
1   ham            Here got lots of hair dresser fr china.
2   ham  Not yet chikku..k, then wat abt tht guy did he...
3   ham                    I will reach before ten morning
4   ham                         S:)8 min to go for lunch:)

In [24]:
# train:test = 9:1
# train:test = 540:60 -> train:valid:test = 432:108:60
train_ratio  = 0.9

#train dataset
s, e = 0, int(df_shuffled.shape[0] * train_ratio) # # of rows
df_train = pd.DataFrame({'label':df_shuffled['label'][s:e],
                         'sms':df_shuffled['sms'][s:e]})
print("index for train: %d~%d" %(s,e))

# test dataset
s, e = e, e+int(df_shuffled.shape[0] * (1.0 - train_ratio))
print("index for test: %d~%d" %(s,e))
df_test = pd.DataFrame({'label':df_shuffled['label'][s:e],
                         'sms':df_shuffled['sms'][s:e]})

index for train: 0~4653
index for test: 4653~5170

In [25]:
print(df_train.shape)
print(df_test.shape)

(4653, 2)
(517, 2)

In [26]:
df_train.to_csv('./sms.maxlen.uniq.shuf.train.tsv',
                header=False, index=False, sep='\t')
df_test.to_csv('./sms.maxlen.uniq.shuf.test.tsv',
                header=False, index=False, sep='\t')